:root{
    --border-fill: #3498db;
    --border-empty: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    background: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    align-items: center;
}
.container .progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    min-width: 100%;
    width: 350px;
}
.container .progress-container::before{
    content: ' ';
    background: var(--border-empty);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 4px;
    left: 0;
    width: 100%;
    z-index: -1;
}
.container .progress{
    background: var(--border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: -1;
    transition: 0.4s ease;
}
.circle{
    background: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4 ease;
}
.circle.active{
    border-color: var(--border-fill);
}
.container .btn{
    background: var(--border-fill);
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}
.container .btn:active{
    transform: scale(.98);
}
.container .btn:focus{
    outline: 0;
}
.container .btn:disabled{
    background: var(--border-empty);
    cursor: not-allowed;
}

